@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Myriad Pro'), local('Myriad Pro Regular'), url('../fonts/Myriad Pro Regular.woff') format('woff'), url('../fonts/Myriad Pro Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Myriad Pro', 'PT Sans', Sans-serif;
    font-size: 16px;
}

body {
    color: #333;
    height: 2000px;
}

p {
    font-size: .775rem;
    margin-bottom: 1rem;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: ' ';
    display: table;
}

.clearfix:after {
    clear: both;
}

.pages {
    margin: 16.6% auto 0;
    position: relative;
    width: 605px;
}

.pages .page {
    border: 2px solid #000;
    height: 750px;
    position: absolute;
    width: 523px;
}

.page.first {
    background-color: #ebebeb;
    padding: 40px 30px;
}

.page.second {
    background-color: #ccc;
    left: 21px;
    top: 20px;
}

.page.third {
    background-color: #acacac;
    left: 40px;
    top: 39px;
}

.mark {
    height: 30px;
    width: 100px;
    border: 2px solid #000;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: 35px;
}

.mark.orange {
    background-color: #f68e56;
    right: -80px;
}

.mark.green {
    background-color: #39b54a;
    right: -50px;
}

.mark.blue {
    background-color: #00aeef;
    right: -20px;
}

.article-heading {
    font-size: 1.375rem;
    margin-bottom: 0.875rem;
}

.article-image {
    float: left;
    margin: 0 18px 18px 0;
}

.nulla {
    padding-top: 20px;
}

.nulla-heading {
    font-size: 1.125rem;
    margin-bottom: 7px;
}

.nulla svg {
    float: left;
    margin: 14px 32px 0 0;
}

.nulla svg:nth-of-type(2n) {
    float: right;
    margin: 14px 0 0 32px;
}

.page footer {
    margin-top: 28px;
}

.page footer p {
    font-size: .563rem;
    text-align: center;
    margin: 0;
}

.share-this {
    background-color: #fbaf5d;
    border: 1px solid #362f2d;
    bottom: 16%;
    height: 70px;
    position: fixed;
    right: 0;
    text-align: center;
    width: 90px;
}

.share-this p {
    font: 1rem normal;
    margin: 10px 0;
}

.share-this a {
    text-decoration: none;
}

.share-this img {
    height: 22px;
    width: 22px;
}

.share-facebook {
    background: url('../img/social.png') 0 0;
}

.share-twitter {
    background: url('../img/social.png') 22px 0;
}

.share-instagram {
    background: url('../img/social.png') -22px 0;
}
